body {

}

.hero {
    background-image: url('control-panel.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    box-shadow: inset 0px -127px 50px 53px rgb(0 0 0 / 53%);
    display: flex;
    opacity: 0.9;
    color: #fff;
    font-size: 60px !important;
    padding: 80px;
    align-items: flex-end;
    justify-content: center;
}

.hero h2 { font-size: 60px !important; }

.container {
    margin-top: 50px;
    background-color: #d7d7d7;
    box-shadow: 1px 1px 1px 1px #b3b3b3;
    border-radius: 6px;
    opacity: 0.9;
    color: #1a1a1a;
    padding: 40px;
}

.top-20 {
    margin-top: 20px;
}

h5 {
    color: #999999;
}

section {
    /*margin-bottom: 50px;*/
}

.display-wrapper {
    background-color: white;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
    font-family: monospace;
    font-size: 12px;
    color: gray;
    word-break: break-all;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label {
    font-size: 16px;
    margin: 0 20px;
}

input,
select {
    margin-right: 30px;
    min-width: 280px;
    padding: 0 8px;
}

.btn {
    min-width: 200px;
}